<%= stylesheet_link_tag "phones", media: "all" %>
<%= stylesheet_link_tag "tables", media: "all" %>
<%= stylesheet_link_tag "filters", media: "all" %>

<div class="filters">
	<div class="header">
		<div>
			<div>
				<%=image_tag("phone_logo.png", size:"50x50")%>
			</div>
			<a>Celulares</a>
		</div>

	</div>
	<%= form_with url:"/phones", method:"get", local: true, class:"form-inline" do |form| %>	
		<%= form.label :manufacturer, "Fabricante" %>
		<%= form.select :manufacturer_eq, Phone.all.pluck(:manufacturer).uniq.unshift("")%>

 		<%= form.label :model, "Modelo" %>
 		<%= form.select :model_eq, Phone.all.pluck(:model).uniq.unshift("") %>

		<%= form.label :sale_modality, "Modo de contrato" %>
 		<%= form.select :sale_modality_eq, ["","pre_pago","pos_pago"]%>
		
		<%= form.submit :filtrar, class:"filter_button"%>	
	<% end %>
</div>
<hr>

<div class="button-content">
	<a href="/phones/upload/" class="button"> Upload </a>
</div>

<div class="container">	
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a>Fabricante</a></div>
			<div class="header__item">Modelo</div>
			<div class="header__item">Modo de Contrato</div>	
			<div class="header__item">Quantidade</div>	
			<div class="header__item">Preço</div>	
		</div>

		<%@phones.each do |phone|%>
			<div class="table-content">	
				<div class="table-row">		
					<div class="table-data"><%=phone.manufacturer%></div>				
					<div class="table-data"><%=phone.model%></div>				
					<div class="table-data"><%=phone.sale_modality%></div>				
					<div class="table-data"><%=phone.formated_quantity%></div>				
					<div class="table-data"><%=phone.formated_price%></div>				
				</div>		
			</div>
		<%end%>

	</div>
</div>
