<%= stylesheet_link_tag "phones", media: "all" %>
<%= stylesheet_link_tag "tables", media: "all" %>
<%= stylesheet_link_tag "filters", media: "all" %>

<p id="notice"><%= notice %></p>

<div class="filters">
	<div class="header">
		<div>
			<div>
				<%=image_tag("phone_logo.png", size:"50x50")%>
			</div>
			<a>Celulares</a>
		</div>

	</div>
	<%= form_with url:"/phones", method:"get", local: true, class:"form-inline" do |form| %>	
		<%= form.label :manufacturer, "Fabricante" %>
		<%= form.text_field :manufacturer_eq %>

 		<%= form.label :model, "Modelo" %>
 		<%= form.text_field :model_eq %>

		<%= form.label :sale_modality, "Modo de contrato" %>
 		<%= form.text_field :sale_modality_eq %>

		<div class="row">
		 	<%= form.submit :filtrar %>
		</div>
	
	<% end %>
</div>

<hr>

<div class="container">	
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a>Fabricante</a></div>
			<div class="header__item">Modelo</div>
			<div class="header__item">Modo de Contrato</div>	
		</div>

		<%@phones.each do |phone|%>
			<div class="table-content">	
				<div class="table-row">		
					<div class="table-data"><%=phone.manufacturer%></div>				
					<div class="table-data"><%=phone.model%></div>				
					<div class="table-data"><%=phone.sale_modality%></div>				
				</div>		
			</div>
		<%end%>

	</div>
</div>
