<div>
  <%= flash[:notice] %>
</div>
<br>
<div>
  <%= form_tag cell_phones_index_path, method: :get do %>
    <div class="row">
      <div class="col">
        <%= text_field_tag :manufacturer, '', class: 'form-control', placeholder: 'Fabricante' %>
      </div>
      <div class="col">
        <%= text_field_tag :model, '', class: 'form-control', placeholder: 'Modelo' %>
      </div>
      <div class="col">
        <%= text_field_tag :carrier_plan_type, '', class: 'form-control', placeholder: 'Plano' %>
      </div>
      <div class="col">
        <%= submit_tag 'Pesquisar', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
    <br>
    <div>
      <%= link_to "Importar CSV", cell_phones_import_path, class: 'btn btn-primary' %>
    </div>
  <br>
  <table class="table">
    <thead>
    <th>#</th>
    <th>Fabricante</th>
    <th>Modelo</th>
    <th>Cor</th>
    <th>Plano</th>
    <th>Quantidade</th>
    <th>Preço</th>
    </thead>
    <tbody>
    <% unless @cellphones&.empty? %>
    <% @cellphones.each do |cellphone| %>
      <tr>
        <td><%= cellphone.id %></td>
        <td><%= cellphone.manufacturer %></td>
        <td><%= cellphone.model %></td>
        <td><%= cellphone.color %></td>
        <td><%= cellphone.carrier_plan_type %></td>
        <td><%= cellphone.quantity %></td>
        <td><%= cellphone.price %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>Não temos produtos no inventario</p>
<% end %>
</div>

