<h1>Cellphones</h1>

<% if flash[:import_errors]&.any? %>
  <div class="alert alert-danger" role="alert">
    <h4>
      <%= pluralize flash[:import_errors].count, 'error' %>:
    </h4>
    <ul>
      <% flash[:import_errors].each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless @cellphones&.empty? %>
  <%= form_tag cellphones_index_path, method: :get do %>
    <%= label_tag :manufacturer %>
    <%= text_field_tag :manufacturer %>

    <%= label_tag :model %>
    <%= text_field_tag :model %>

    <%= label_tag :carrier_plan_type %>
    <%=
      select_tag(
        :carrier_plan_type,
        options_for_select(@carrier_plan_types),
        { include_blank: '- Select -'}
      )
    %>

    <%= submit_tag 'Filter' %>
  <% end %>

  <br>

  <table>
    <thead>
      <th>#</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Color</th>
      <th>Carrier plan type</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Created at</th>
      <th>Updated at</th>
    </thead>
    <tbody>
      <% @cellphones&.each_with_index do |cellphone, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= cellphone.manufacturer %></td>
          <td><%= cellphone.model %></td>
          <td><%= cellphone.color %></td>
          <td><%= cellphone.carrier_plan_type %></td>
          <td><%= cellphone.quantity %></td>
          <td><%= cellphone.price %></td>
          <td><%= cellphone.created_at %></td>
          <td><%= cellphone.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No cellphones in inventory</p>
<% end %>
